

  .navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar a {
    margin-right: 20px;
  }
  
  .social-icons-container {
    display: flex;
    align-items: center;
  }
  
  .social-icons-container img {
    width: 30px;
    margin-left: 10px;
  }
  
  .navbar-right {
    margin-left: auto;
  }
  
  .navbar a {
    color: #333; /* Couleur du texte normale */
    text-decoration: none; /* Supprime la soulignement par défaut */
    position: relative;
}

/* Ligne noire au survol */
.navbar a:hover {
    border-bottom: 2px solid black; /* Ajoute une ligne noire au survol */
}

/* Ligne noire pour l'élément actif */
.navbar a.active {
    border-bottom: 2px solid black; /* Ajoute une ligne noire à l'élément actif */
}
