<div class="slideshow-container">
  <div class="mySlides fade">
      <div class="text">Votre premier texte ici</div>
  </div>
 

<div class="container">
  <div class="about-us">
      <h2>À propos de CNC Service</h2> <br>
      <p>
          CNC SERVICE est votre partenaire de confiance pour la réparation, la maintenance, l'installation, le reconditionnement, le transfert et la programmation de vos machines à commande numérique CNC.
      </p>
      <p>
          Forts de plus de 15 ans d'expérience dans la maintenance CNC, notamment dans la programmation et le transfert de fichiers d'usinage et de routage, nous intervenons avec expertise sur tous vos problèmes, qu'ils soient d'ordre matériel ou logiciel.
      </p>
      <p>
          Nous proposons également des formations personnalisées pour les opérateurs de machines CNC afin de maximiser leurs compétences et leur efficacité.
      </p>
      <p>
          En plus de nos services de maintenance, nous sommes spécialisés dans le reconditionnement personnalisé de vos machines, leur offrant ainsi une seconde vie. Nous vous accompagnons également dans l'optimisation en fonction de vos besoins spécifiques.
      </p>
  </div>
</div>
